---
// Newsletter Form Component with Forminit Integration
---

<form 
  id="newsletter-form" 
  class="newsletter-form"
  method="POST"
  action="https://forminit.com/f/1q9gp77a4zm"
  accept-charset="UTF-8"
>
  <div class="form-group">
    <input
      type="email"
      name="fi-sender-email"
      placeholder="your@email.com"
      required
      aria-label="Email address for newsletter"
    >
    <button type="submit" class="btn btn-primary">Notify Me</button>
  </div>
</form>